#header{
	background-color: black;
	width: 500px;
	height: 500px;
}

.header {
	background-color: green;
	width:500px;
	height: 500px;
}

#legs 
{
	background-color: black;
}

#legs:hover
{
	background-color: white;
}